<h1>The most popular movies</h1>

<md-card *ngFor="let movie of movies" class="movie-card">
  <md-card-header>
    <md-card-title><h2>{{movie.title}}</h2></md-card-title>
  </md-card-header>
  <a routerLink="{{movie.id}}">
  <img md-card-lg-image src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
  </a>
  <md-card-content>
    <p>{{movie.overview}}</p>
  </md-card-content>
  <md-card-actions>
    <a routerLink="{{movie.id}}" md-button>Details</a>
  </md-card-actions>
</md-card>

<h2 *ngIf="!movies">loading movies...</h2>
